* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #2E5D9E;
	background-color: #FDF2A1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Chewy', sans-serif;
	background-color: transparent;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3em;
}

.col>div {
	height: 800px;
	padding: 5%;
	border: 2px solid #FCF5C1;
	background-color: #FAED8D;
}

header h2 {
	margin: 5%;
}

.col h3 {
	margin: 10%;
	color: #1CD70F;
}

a {
	color: #1CD70F;
}

/* Nav Bar Style START*/

#header-nav.navbar-default .navbar-brand {
	font-family: 'Chewy', sans-serif;
	font-size: 2em;
    color: #F4F4F4;
    padding: auto 50px ;
}
#header-nav.navbar-default {
    background-color: #2E5D9E;
    border-width: 0;
    border-radius: 0;
}
#header-nav.navbar-default .navbar-nav>li>a {
    color: #F4F4F4;
    background-color: #2E5D9E;
}
#header-nav.navbar-default .navbar-nav>li>a:hover,
#header-nav.navbar-default .navbar-nav>li>a:focus {
    color: #F4F4F4;
    background-color: #1CD70F;
}
#header-nav.navbar-default .navbar-nav>.active>a,
#header-nav.navbar-default .navbar-nav>.active>a:hover,
#header-nav.navbar-default .navbar-nav>.active>a:focus {
    color: #F4F4F4;
    background-color: rgba(45, 87, 19, 1);
}
#header-nav.navbar-default .navbar-toggle {
    border-color: #F4F4F4;
}
#header-nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #F4F4F4;
}

#header-nav.navbar-default .navbar-toggle:hover .icon-bar,
#header-nav.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2E5D9E;
}


/* Nav Bar Style END*/